:root {
    --background-accent: rgb(31, 31, 31, 0.9);
    --text-accent: white;

    --global-font-family: Arial, serif;
}

body {
    margin: 0;
    background-color: var(--background-accent);
}

html, body {
    height: 100%;
}

.content-box {
    color: var(--text-accent);

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: fit-content;
    width: fit-content;
    min-width: 800px;

    display: grid;
    grid-template-areas:
            "summery avatar";

    padding: 25px;
    border-radius: 10px;
    background-color: var(--background-accent);
}

.summery {
    grid-area: summery;

    padding-left: 10px;
    padding-right: 10px;

    width: 95%;

    font-family: var(--global-font-family)
}

.summery h1 {
    margin: 0;
    width: 100%;
}

.summery p {
    width: 100%;
}

.avatar-image {
    border-radius: 10px;

    width: 100%;
    max-width: 320px;
}

.tiled {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
}

.tiled p {
    margin: 0;
    width: fit-content;
}

.quick-links {
    width: 100%;
    max-width: 320px;

    padding-top: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 15px;
}
