body {
    background-color: rgb(15, 15, 15);
}

.logo {
    width: 500px;
}

.logo img {
    padding-top: 10px;
    border-radius: 50%;
}

.text {
    color: white;
    font-family: 'Courier New', Courier, monospace;

    width: 500px;
    overflow-wrap: break-word;
}

.links {
    display: grid;
    grid-template: "out out out";

    width: 300px;
}

.links img {
    grid-area: out;

    width: 64px;
    height: 64px;
}
