body {
    background-color: rgb(15, 15, 15);
}

.header {
    width: 500px;
}

.header img {
    width: 80%;
}

.text {
    color: white;
    font-family: 'Courier New', Courier, monospace;

    width: 500px;
    overflow-wrap: break-word;
}

.tox {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}